catkin==0.8.10
catkin-pkg==0.4.24
google-api-core==2.7.1
google-auth==1.35.0
google-cloud-speech==2.13.1
google-gax==0.16.0
googleapis-common-protos==1.56.0
grpcio==1.45.0
grpcio-status==1.45.0
numpy==1.22.3
PyAudio==0.2.11
PyYAML==6.0
roslaunch==1.15.14
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.14
rosmake==1.15.8
rosmaster==1.15.14
rosmsg==1.15.14
rosnode==1.15.14
rosparam==1.15.14
rospkg==1.4.0
rospy==1.15.14
roswtf==1.15.14
sensor-msgs==1.13.1
